{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
    <div id="app">
        <div class="container">
            <div class="row">
                <Registration
                        header-image="{{ asset('build/images/registered_image.aac4130d.png') }}"
                />
            </div>
        </div>
    </div>
{% endblock %}
